[submodule "PROYECTO1"]
	path = PROYECTO1
	url = https://github.com/edgar-bonilla/PROYECTO1.git
[submodule "PROYECTO3"]
	path = PROYECTO3
	url = https://github.com/edgar-bonilla/PROYECTO3.git
[submodule "TAREA1"]
	path = TAREA1
	url = https://github.com/edgar-bonilla/TAREA1.git
